[user]
	email = onurnesvat@gmail.com
	name = Onur Nesvat

[init]
	defaultBranch = main

[core]
	pager = delta

[interactive]
	diffFilter = delta --color-only

[delta]
	navigate     = true
	light        = false
	side-by-side = true
	line-numbers = true

[merge]
	conflictstyle = zdiff3

[diff]
	colorMoved = default

[credential "https://github.com"]
	helper =
	helper = !/usr/bin/gh auth git-credential

[credential "https://gist.github.com"]
	helper =
	helper = !/usr/bin/gh auth git-credential
[pull]
	rebase = true
[alias]
	sync = !current_branch=$(git branch --show-current) && git fetch origin && git fetch fork && git rebase origin/main && git push fork \"$current_branch\" --force-with-lease
